<plugin-descriptor name="authenticator" label="Authenticator">
	<description>Authenticator plugin</description>
	<version>@plugin.version@</version>
	<core version="4.3" />
	<core version="5.0" />
	<requires>
		<class
			name="talentum.escenic.plugins.authenticator.AuthenticatorManager"
			label="The main authenticator manager class"
			error="The authenticator plugin classes cannot be found on the system CLASSPATH" />
	</requires>
	<parameter name="neo.phoenix.plugin.description" value="This page allows you to list logged in users" />
	
	<resource type="internal-link" target="admin" task="/index"
		area="menu" label="Authenticator" uri="/plugins/authenticator/index.jsp" roles="all" />
</plugin-descriptor>
