<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- Authenticator filter -->
	<filter>
		<filter-name>AuthenticatorFilter</filter-name>
		<filter-class>talentum.escenic.plugins.authenticator.filter.AuthenticatorFilter</filter-class>
	</filter>



  <!-- Filter -->
  <filter>
    <filter-name>ECETimerFilter</filter-name>
    <filter-class>neo.servlet.TimerFilter</filter-class>
    <init-param>
      <param-name>collector</param-name>
      <param-value>/neo/io/reports/HitCollector</param-value>
     </init-param>
  </filter>

  <filter>
    <filter-name>ECEPersistentAttributeFilter</filter-name>
    <filter-class>neo.servlet.PersistentAttributeFilter</filter-class>
  </filter>
  
  <filter>
    <filter-name>BootstrapFilter</filter-name>
    <filter-class>com.escenic.presentation.servlet.BootstrapFilter</filter-class>
    <init-param>
      <param-name>oncePerRequest</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>EscenicStandardFilterChain</filter-name>
    <filter-class>com.escenic.presentation.servlet.CompositeFilter</filter-class>
    <init-param>
      <param-name>oncePerRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>chain</param-name>
      <param-value>/com/escenic/servlet/StandardFilter</param-value>
    </init-param>
  </filter>


  <!-- ImageVersionResolver Filter Configuration -->
  <filter>
    <filter-name>imageResolver</filter-name>
    <filter-class>com.escenic.presentation.servlet.multimedia.ImageVersionResolver</filter-class>
    <init-param>
      <param-name>oncePerRequest</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <!-- ImageVersionGenerator Filter Configuration -->
  <filter>
    <filter-name>imageGenerator</filter-name>
    <filter-class>com.escenic.presentation.servlet.multimedia.ImageVersionGenerator</filter-class>
    <init-param>
      <param-name>oncePerRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>imageVersionDefinitions</param-name>
      <param-value>/escenic/image-version</param-value>
    </init-param>
  </filter>

  <!-- Cache Filter Configuration -->
  <filter>
    <filter-name>cache</filter-name>
    <filter-class>com.escenic.presentation.servlet.multimedia.CacheFilter</filter-class>
    <init-param>
      <param-name>oncePerRequest</param-name> <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>deleteCacheOnExit</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>expiryTime</param-name>
      <!-- 30 * 60 * 1000 ms = 1800000 ms = 30 minutes -->
      <param-value>1800000</param-value>
    </init-param>
    <init-param>
      <param-name>memCacheSize</param-name>
      <!-- 64 MBytes -->
      <param-value>64</param-value>
    </init-param>
  </filter>


	<!-- Authenticator filter -->
	<filter-mapping>
		<filter-name>AuthenticatorFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


  <filter-mapping>
    <filter-name>ECETimerFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>ECETimerFilter</filter-name>
    <url-pattern>*.ece</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>BootstrapFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EscenicStandardFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <filter-mapping>
    <filter-name>cache</filter-name>
    <url-pattern>/multimedia/archive/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>imageGenerator</filter-name>
    <url-pattern>/multimedia/archive/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>imageResolver</filter-name>
    <url-pattern>/multimedia/archive/*</url-pattern>
  </filter-mapping>

  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>locale</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>


  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
